<script>
function setSelectedOption(option_id) {
	if (option_id.length > 0) {
		option = document.getElementById(option_id)
		if (option !== null) {
			option.selected = "true";
		}
	}
}
window.onload = function() 
{
	setSelectedOption("{{context.Address_Type}}");
};
</script>
<form action='/form?form_type=retrieve_crm_address' method='POST'>
	<p>RETRIEVE CURRENT ADDRESS</p>
	<p>
		<span style='width: 120px; display:inline-block;'>Customer ID:</span> <input type='text' name='cust_id' value='{{context.dv("cust_id")}}'/><br>
		<span style='width: 120px; display:inline-block;'>Email:</span> <input type='text' name='Email' value='{{context.dv("Email")}}'/><br>
		<span style='width: 120px; display:inline-block;'>Address Type:</span> 
		<select name='Address_Type'>
			<option id='Billing'>Billing</option>
			<option id='Mailing'>Mailing</option>
		</select>
	</p>
<!--<em>Please click 'Retrieve' when you've entered the information.</em>-->
	<p>
		<input type='submit' name='response_input' value='Retrieve'/>
		<input type='submit' name='response_input' value='Cancel'/>
	</p>
</form>